*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.container{
    border: 1px solid #3161E0 ;
    background-color: #3161E0;
    width: 100%;
    height: 80px;
    position: relative;
}

.menusettings{
    margin:  auto;
    width: 80%;
    text-align: center;
    margin-top: 10px;
}

header div img{
    cursor: pointer;
}

#logo{
    float: left;
}

nav{
    display: inline-block;
}

.menunav{
    line-height: 0px;
}

ul{
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

ul li {
    list-style-type: none;
    display: inline-block;
}

ul li a{
    color: white;
    text-decoration: none;
    margin: 20px;
}


 .login{
    background-color: white;
    border-radius: 15px;
    height: 30px;
    width: 60px;
    padding:4px;
    vertical-align: middle;
    float: right;
    text-decoration: none;
}

.login a{
    text-decoration: none;
    vertical-align: middle;
}



/* main */

/* section 1 */

.bannerimg{
    background-image: url('./../img/jumbo.png') ;
    width: 100%;
    height: 500px;
    background-size: cover;
    display: inline-block;
    text-align: center;
    
}


.bannerimg div a {
    text-decoration: none;
    margin: 10px;
    border: 1px solid black;
    border-radius: 30px;
    width: fit-content;
    height: max-content;
    padding: 20px;
}

.bannerimg h1 {
    margin-top: 80px;
    padding: 20px;
    color: white;
}

.bannerimg p{
    padding: 20px;
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
}


.mac{
    background-color: white;
    color: black;
}

.browser{
    color: white;
    background-color: black;
}

/* section 1 */



/* section 2 */

.whiteboard{
    
    width: 100vw;
    height: 200vh;
    position: relative;
}

.img1contain{
    
    width: 60%;
    height: 30%;
    display: inline-block;
    position: absolute;
    top: 10%;
    left: 20%;
}


.textimg1{
    position: absolute;
    left: 60%;
    top: 10%;
    padding: 20px;
    
    color: black;
}


.textimg1 p{
    margin-top: 20px;
    font-size: 20px;
}